<div class="sidebar"
     [class.sidebar-collapsed]="isCollapsed"
     (mouseenter)="expandSidebar()"
     (mouseleave)="collapseSidebar()">


  <div class="sidebar-indicator" *ngIf="isCollapsed">
    <i class="fas fa-angle-right"></i>
  </div>

  <div class="sidebar-header">
    <h2 *ngIf="!isCollapsed">Menu</h2>
  </div>

  <ul class="sidebar-menu">
    <li>
      <a routerLink="/calendar">
        <i class="fas fa-sign-in-alt"></i>
        <span *ngIf="!isCollapsed">Mon calendrier</span>
      </a>
    </li>

    <li *ngIf="user?.role === 'ROLE_MANAGER'||user?.role === 'ROLE_ADMIN'">
      <a routerLink="/pagemanager">
        <i class="fas fa-envelope"></i>
        <span *ngIf="!isCollapsed">Page Manager</span>
      </a>
    </li>

    <li *ngIf="user?.role === 'ROLE_MANAGER'||user?.role === 'ROLE_ADMIN'">
      <a routerLink="/gestionmanager">
        <i class="fas fa-envelope"></i>
        <span *ngIf="!isCollapsed">Gestion Manager</span>
      </a>
    </li>

    <li *ngIf="user?.role === 'ROLE_ADMIN'">
      <a routerLink="/pageadmin">
        <i class="fas fa-user-shield"></i>
        <span *ngIf="!isCollapsed">Page Admin</span>
      </a>
    </li>

  </ul>

  <div class="sidebar-profile" *ngIf="user" (click)="goToProfile()" (mouseenter)="showLogout = true" (mouseleave)="showLogout = false">
    <div class="profile-avatar">{{ user.firstname[0] }}{{ user.lastname[0] }}</div>
    <div class="profile-info" *ngIf="!isCollapsed">
      <span>{{ user.firstname }} {{ user.lastname }}</span>
      <a (click)="logout($event)" class="logout-link">
        <i class="fas fa-sign-out-alt"></i>
      </a>
    </div>

    <div class="logout-tooltip" *ngIf="showLogout">Déconnexion</div>
  </div>
</div>
